@model SEDC.PizzaApp.Models.Domain.Pizza

<h2>@ViewData["Title"]</h2>
<p>ID - @ViewBag.PizzaViewModel.Id</p>
<p>@ViewBag.PizzaViewModel.Name</p>
<p>@ViewBag.PizzaViewModel.Price</p>
<p>@ViewBag.PizzaViewModel.PizzaSize</p>
